.head1{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    max-width: 100%;
    font-weight: 600;
    position:sticky;
    top: 0;
    background-image: linear-gradient(to right,rgb(66, 66, 158), rgb(66, 66, 158));

}
table{
    width: 100%;
}
#td1{
    text-align: center;
    width: 90%;
    color:white;
    text-decoration:none;
}
#td2{
    max-width: 10%;
    text-align: center;
    font-size: 16px;  
}
.head1 img{
    align-items: left;
    max-height: 35px;
    padding-top: 20px;
    
}
#foot{        
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    text-transform: capitalize; 
    padding-top:70px; 

}  
#foot::before{

    content:"©";
}
.body1{
    overflow: scroll;
    background-color: lab(0% 0 0);
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(66, 66, 158), rgb(0, 195, 255), rgb(66, 66, 158));
    max-height: 100%;
}      
.NAV1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20PX;
    text-transform: capitalize;
    padding-bottom:15px;
    text-align: center;
    word-spacing: 100PX;
    width:100%;
    background-image: linear-gradient(to top,#eff2f538,rgba(228, 232, 235, 0.075));
} 
nav a{
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    color:rgb(0, 58, 133);
}
h1{
    text-transform: uppercase;
    font-size:20px;
    color:rgb(238, 239, 239);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a:hover{
    color:rgb(81, 0, 255)
}
h1{
    font-style:italic;
    text-align: center;
    color:rgb(240, 238, 241);
    padding-top:20px;
}
hr{
    border-style: dashed;
    border-color: white;
}
#head2,
#head3,
#head4,
#head5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size:20px;
    text-align:left;
    padding:20px 1em 10px;
    color:rgb(251, 252, 165)
}
#img1,
#img2,
#img3{
    max-width: 200px;
    display:flex;
    margin:auto;
    
  
}
#pa1{
    position: sticky;
    bottom: 0;
    width: 100%;
    
    text-align: center;
    background-image: linear-gradient(to right,rgb(148, 148, 148),grey);
}
body{
    
    min-width: 100%;
    
    min-height: 100%;
}
#con1,
#con2,
#con3,
#con4{
    line-height: 24px;
}
#whead1{
            font-size: 60px;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            padding-top: 0%;
            padding-bottom:2%;
            text-align:center;   
            
        }
        
    
        
#wheadimg{
           max-width: 70px;
           
           text-align: left;
          font-size: 50px;
          
    
        }
        
button{
            background-color: black;
            color:aliceblue;
            border:none;
            padding: 10px;px;
            font-size: 20px;
            
        }
nav li{
            text-align: center;
            color: aliceblue;
        }
#wtitlee,
#wheadmtt{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size:30px;
            color: rgb(218, 174, 255);
            
        }
#wcon{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 550;
            letter-spacing: .05em;
            word-spacing: .3em;
            line-height: 1.4em;
        }
#wmttimg{
            max-width: 75%;
            height: auto;
            border: solid 2px;
        }
#wmttcap{
            font-family: sans-serif;
            font-weight: lighter;
            font-size:15px;
        
        }
table{
            width: 100%;
            text-align: center;
        }
td{
            max-width: 100%;
        }
